* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:'Inter', sans-serif;
}

.required{
  color:red;
}

.margin-form-1{
  margin-top:20px;
}

.btn-primary {
  font-size: 24px;
  text-align: center;
  color: #0071D9;
  background-color: #ffffff;
}